
:root{
    --blue:#fff;
    --white:#20c997;
   
   }
.navbar-expand-lg .navbar-collapse {
    align-content: space-around;
    justify-content: flex-end;
}
button.btn.btn-outline-warning {
    margin-inline-end: 1rem;
    
    
}
.text-warning{
    font-weight: 600;
}

.btn-outline-warning {
    color: var(--blue);
    border-color: var(--blue);
}
.btn-outline-warning:hover {
    color: #000;
    background-color: var(--blue);
    border-color: var(--blue);
}
.btn-warning {
    color: #000;
    background-color: var(--blue);
    border-color: var(--blue);
}
.btn-warning:hover {
    color: #000;
    background-color: var(--blue);
    border-color: var(--blue);
}
.colorFont{
   color: var(--blue);
}
.mt-3 {
    margin-top: 6rem!important;
}
.btn-outline-success {
    color: var(--white);
    border-color: var(--white);
}
.btn-outline-success:hover {
    color: #fff;
    background-color: var(--white);
    border-color: var(--white);
}
.text-info{
    color:var(--white) !important;
}