.navbar-expand-lg .navbar-collapse {
    align-content: space-around;
    justify-content: flex-end;
}
button.btn.btn-outline-warning {
    margin-inline-end: 1rem;
    
    
}
.text-warning{
    font-weight: 600;
}
/* vertical-align: middle;
border-style: none;
} */
.btn-outline-warning {
    color: #20c997;
    border-color: #20c997;
}
.btn-outline-warning:hover {
    color: #000;
    background-color: #20c997;
    border-color: #20c997;
}
.btn-warning {
    color: #000;
    background-color: #20c997;
    border-color: #20c997;
}
.btn-warning:hover {
    color: #000;
    background-color: #20c997;
    border-color: #20c997;
}